{
  "presets": [
    ["env", {
      "targets": {
        "node": "current"
      }
    }],
    "react"
  ],
  "plugins": [
    "syntax-dynamic-import",
<%_ if (filters.loadable) { _%>
      "react-loadable/babel",
<%_ } _%>
    "transform-object-rest-spread"
  ]
}